@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Libre+Baskerville&family=Quicksand:wght@300&family=Ruwudu&family=Special+Elite&display=swap');

*, *:before, *:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Special Elite', cursive;
}

.container{
    width: 100%;
    min-height: 100vh;
    background-image: url(https://images.pexels.com/photos/1750268/pexels-photo-1750268.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}